<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970603417916-uco3vbo8lduu5enjq6n6t5quhms878im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970603417916-uco3vbo8lduu5enjq6n6t5quhms878im</string>
	<key>API_KEY</key>
	<string>AIzaSyBKEd12q9pLEA7oQn7lklnDGATtqJ14vhI</string>
	<key>GCM_SENDER_ID</key>
	<string>970603417916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raktasFlutter</string>
	<key>PROJECT_ID</key>
	<string>raktas-d0505</string>
	<key>STORAGE_BUCKET</key>
	<string>raktas-d0505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970603417916:ios:1f91972a07b2a1d16f8e39</string>
</dict>
</plist>